@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;900&display=swap");
:root {
  --primary: #00C585;
}

*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 100%;
  height: 100vh;
  background-color: rgb(243, 242, 239);
}

.section-x {
  max-width: 1264px;
  margin: 0 auto;
}

.padding-x {
  padding: 0 16px;
}

.section-title {
  font-size: 28px;
}

.whole {
  position: relative;
  display: grid;
  grid-template-columns: auto;
}

/* Navbar (Home version) */
.navbar {
  left: 0;
  right: 0;
  background: rgb(243, 242, 239);
  position: fixed;
  z-index: 1;
}

.navbar-container {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  align-items: center;
  column-gap: 25px;
}

.menu-item p {
  font-size: 16px;
  position: relative;
  padding: 5px 0px;
}

.menu-item a {
  width: 100%;
  color: #181818;
}

.menu-item p::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 3px;
  opacity: 0;
  transition: 0.3s;
  background-color: var(--primary);
}

.menu-item p:hover::before {
  opacity: 1;
}

.btn a {
  display: inline-block;
  padding: 8px 16px;
  background-color: var(--primary);
  border: 1px solid var(--primary);
  border-radius: 30px;
  font-weight: 600;
  color: white;
  transition: 0.3s;
}

.btn {
  overflow: hidden;
  display: inline-block;
}

.btn:hover a {
  background-color: white;
  color: var(--primary);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-text {
  margin-top: 180px;
  display: grid;
  justify-items: center;
  row-gap: 10px;
  text-align: center;
  margin-bottom: 60px;
}

.header-text h1 {
  font-size: 60px;
}

.header-text p {
  max-width: 500px;
  font-size: 21px;
}

.header-content {
  width: 100%;
}

.trip-search {
  width: 95%;
  margin: 0 auto;
  padding: 50px 25px;
  border: 1px solid rgb(229, 234, 223);
  box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 4px 0px;
  border-radius: 50px;
  background: rgb(243, 242, 239);
}

.header-hero {
  width: 100%;
  height: 480px;
  background-image: url("../images/header-hero.jpg");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  border: 1px solid gray;
  border-radius: 20px;
  position: relative;
  top: -60px;
  z-index: -1;
}

/* Why Us */
.why-us {
  margin-bottom: 180px;
}

.why-us h1 {
  margin-bottom: 30px;
}

.why-us-content {
  display: flex;
  justify-content: space-between;
  column-gap: 50px;
  row-gap: 25px;
}

.why-us-content h3 {
  font-size: 19px;
  margin-bottom: 10px;
}

.why-us-content p {
  font-size: 16px;
}

/* Card Type 1 */
.tours {
  margin-bottom: 90px;
}

.tours-content {
  display: grid;
  grid-template-columns: repeat(3, 31.5%);
  justify-content: space-between;
  column-gap: 30px;
  row-gap: 35px;
}

.tours-more {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.ct1__img {
  height: 300px;
  background: url("https://campspace.com/media/medium/uploads/space/59/98/88/5998883e90e2df4a5f57379c0f84ef1e.jpg") no-repeat center;
  background-size: cover;
  border-radius: 15px;
  display: grid;
  align-content: space-between;
  color: white;
  padding: 8px;
  margin-bottom: 10px;
}

.ct1__img__top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.ct1__img__bottom {
  display: flex;
  justify-content: end;
}

.ct1__info {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  row-gap: 5px;
  color: #2e2c2c;
}

.ct1__img--verified {
  padding: 4px 8px;
  color: #6c6c6c;
  font-weight: 600;
  background-color: white;
  border-radius: 20px;
  font-size: 12px;
}

.ct1__img--liked {
  padding: 8px 9px;
  border: 1px solid transparent;
  border-radius: 50%;
  cursor: pointer;
}

.ct1__img--liked svg {
  width: 30px;
  height: 30px;
  fill: white;
}

.ct1__img--liked:hover {
  border: 1px solid white;
}

.ct1__img--price {
  padding: 6px 14px;
  font-size: 16px;
  background: #4f4c4c;
  font-weight: 600;
  border-radius: 30px;
}

.ct1__info--name {
  font-size: 17px;
  font-weight: 600;
  color: #2e2c2c;
}

.ct1__info--location {
  font-size: 13px;
  font-weight: 400;
}

.ct1__info--rating {
  display: flex;
  align-items: center;
  font-weight: 600;
  column-gap: 5px;
}

/* Contact Us */
.contact-us {
  margin-bottom: 790px;
}

.contact-container {
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 90px 0;
  /* http://imagebank.biz/wp-content/uploads/2014/02/88541.jpg */
  background-image: url("../images/export.png");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.contact-content {
  display: grid;
  grid-template-columns: 60% 30%;
  justify-content: space-between;
  align-items: center;
  column-gap: 30px;
}

.contact-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.contact-text h1 {
  font-size: 32px;
  margin-bottom: 10px;
}

.contact-text p {
  font-size: 20px;
  margin-bottom: 35px;
}

.contact-brand {
  width: 160px;
}

.contact-brand img {
  width: 100%;
  transform: scale(1);
  transition: 0.3s;
}

.contact-brand img:hover {
  transform: scale(1.1);
}

/*# sourceMappingURL=global.css.map */
