.sectionMore {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

/* Navbar (Home version) */
.navbar {
    left: 0;
    right: 0;
    background: rgb(243, 242, 239);
    position: fixed;
    z-index: 10;
}

.navbarContainer {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 120px;

    img {
        width: 140px;
    }
}

.menu {
    display: flex;
    align-items: center;
    column-gap: 25px;
}

.menuItem p {
    font-size: 16px;
    position: relative;
    padding: 5px 0px;
}

.menuItem a {
    width: 100%;
    color: #181818;
}

.menuItem p::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 3px;
    opacity: 0;
    transition: 0.3s;
    background-color: var(--primary);
}

.menuItem p:hover::before {
    opacity: 1;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.headerText {
    margin-top: 180px;
    display: grid;
    justify-items: center;
    row-gap: 10px;
    text-align: center;
    margin-bottom: 60px;
}

.headerText h1 {
    font-size: 60px;
    color: #00C585;
}

.headerText p {
    max-width: 500px;
    font-size: 21px;
    color: #00C585;
}

.headerContent {
    margin-top: 90px;
    width: 100%;
}

.tripSearch {
    width: 90%;
    margin: 0 auto;
    padding: 10px 25px;
    border: 1px solid rgb(229, 234, 223);
    box-shadow: rgb(0 0 0 / 8%) 0px 2px 4px 0px;
    border-radius: 50px;
    background: rgb(243, 242, 239);
    display: grid;
    grid-template-columns: 37% 30% 24% auto;
    justify-content: space-between;
    align-items: end;
    column-gap: 15px;
    position: absolute;
    top: 330px;
    left: 5%;
    z-index: 9;
}

.tripSearchTitle {
    margin-bottom: 10px;
}

.searchElementContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 10px;
    border-radius: 50px;
    border: 1px solid rgb(229, 234, 223);
    padding-left: 10px;
    padding-right: 15px;
    background: rgb(255, 255, 255);
    position: relative;

    .elementLeft {
        display: flex;
        align-items: center;
    }

    .arrowDown {
        width: 15px;
    }

    .guestsInput {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .searchInput {
        width: 100%;
        display: flex;
        align-items: center;
    }

    .searchInput:focus {
        display: block;
    }

    .searchResults {
        position: absolute;
        background: #fff;
        border-radius: 10px;
        box-shadow: rgb(0 0 0 / 16%) 0px 2px 4px 0px;
        padding: 15px;
        left: 0;
        right: 0;
        top: 60px;
    }


}

.elementIcon {
    width: 17px;
    height: 17px;

    & img {
        width: 100%;
    }
}

.tripElement {
    flex-grow: 1;
    font-size: 17px;
    font-weight: 400;
    border: none;
    outline: none;
    padding: 10px 15px;
    background: rgb(255, 255, 255);
    border-radius: 50px;
}

.searchResults {
    display: none;
    row-gap: 5px;

    .searchRecommendation {
        padding: 15px 5px;
        display: flex;
        align-items: center;
        column-gap: 15px;
        transition: 0.3s;
        border-radius: 10px;
        cursor: pointer;

        .searchIcon {
            width: 40px;
            height: 40px;
            background-color: rgb(236, 236, 236);
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                filter: invert(81%) sepia(0%) saturate(274%) hue-rotate(204deg) brightness(97%) contrast(74%);
            }

            p {
                font-size: 17px;
            }
        }
    }

    .searchRecommendation:hover {
        background-color: rgb(233, 233, 233);
    }
}

.popUpInput {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    top: 60px;
    display: none;
}

.popUpClose {
    width: 100%;
    background: white;
    padding: 8px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    .closeBtn {
        border-radius: 5px;
        ;
        cursor: pointer;
        width: 22px;
        height: 22px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .closeBtn:hover {
        background: rgb(229, 234, 223);
    }
}

.popUpClose img {
    width: 20px;
}

.openElement {
    display: block !important;
}

.guestsContainer {
    width: 320px;
    position: absolute;
    left: 0;
    right: 0;
    top: 60px;
    background: white;
    border-radius: 10px;
    box-shadow: rgb(0 0 0 / 16%) 0px 2px 4px 0px;
    color: rgb(40, 64, 12);
    display: none;

    .guestsItem {
        display: flex;
        justify-content: space-between;
        padding: 20px 15px;
        cursor: context-menu
    }

    .guestsItem:nth-child(2) {
        border-top: 1px solid rgb(229, 234, 223);
        border-bottom: 1px solid rgb(229, 234, 223);
    }

    .guestsLeft {
        display: grid;
        align-items: center;
    }

    .guestsLeft p:nth-child(2) {
        margin-top: 5px;
    }

    .guestsRight {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
        align-items: center;
        column-gap: 10px;
        font-size: 18px;
        text-align: center;
    }

    .countBtn {
        border: 2px solid rgb(40, 64, 12);
        border-radius: 50%;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 600;
        color: rgb(40, 64, 12);
        cursor: pointer;
        transition: 0.3s;
    }

    .countBtn:hover {
        background-color: rgb(228, 228, 228);
        ;
    }
}

.searchBtn {
    background: var(--primary);
    border-radius: 50%;
    border: 3px solid transparent;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
        background-color: white;
        border: 3px solid var(--primary);
    }

    &:hover img {
        filter: invert(0%) sepia(89%) saturate(7500%) hue-rotate(198deg) brightness(87%) contrast(111%);
    }

    img {
        width: 20px;
        filter: invert(100%) sepia(0%) saturate(11%) hue-rotate(221deg) brightness(105%) contrast(101%);
        transition: 0.3s;
    }
}

.headerHero {
    width: 100%;
    height: 480px;
    background-image: url('../../assets/images/header-hero.jpg');
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    border: 1px solid gray;
    border-radius: 20px;
    position: relative;
    // top: -60px;
    z-index: 1;
    overflow: hidden;
}

/* Why Us */

.whyUs {
    margin-bottom: 90px !important;
}

.whyUs h1 {
    margin-bottom: 30px;
}

.whyUsContent {
    display: flex;
    justify-content: space-between;
    column-gap: 50px;
    row-gap: 25px;
}

.whyUsContent h3 {
    font-size: 19px;
    margin-bottom: 10px;
}

.whyUs-content p {
    font-size: 16px;
}

/* Tours */
.tours {
    margin-bottom: 90px !important;
}

.toursContent {
    display: grid;
    grid-template-columns: repeat(3, 31.5%);
    justify-content: space-between;
    column-gap: 30px;
    row-gap: 35px;
}


/* Contact Us */

.contactUs {
    margin-bottom: 90px;
}

.contactContainer {
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 90px 0;
    background-image: url('../../assets/images/dumb-bg2.svg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.contactContent {
    display: grid;
    grid-template-columns: 60% 30%;
    justify-content: space-between;
    align-items: center;
    column-gap: 30px;
}

.contactText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contactText h1 {
    font-size: 32px;
    margin-bottom: 10px;
}

.contactText p {
    font-size: 20px;
    margin-bottom: 35px;
}

.contactBrand {
    width: 160px;
}

.contactBrand img {
    width: 100%;
    transform: scale(1);
    transition: 0.3s;
}

.contactBrand img:hover {
    transform: scale(1.1);
}

// Products
.products {
    margin-bottom: 90px !important;
}

.productsContainer {
    display: grid;
    grid-template-columns: repeat(6, 16%);
    grid-template-rows: auto auto;
    justify-content: space-between;
    align-items: center;
    column-gap: 15px;
    row-gap: 20px;
}

// Quote

.quote {
    width: 100%;
    height: 400px;
    background: #00c569;
    display: grid;
    justify-content: center;
    align-items: center;
    margin-bottom: 90px !important;
}

.quoteContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 40px;
}

.quoteText {
    font-size: 40px;
    font-weight: 600;
    text-align: center;
}

.quoteAuthor {
    display: flex;
    align-items: center;
    column-gap: 15px;
    font-weight: 600;
}

.quoteAuthorImg {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: url('https://www.campspot.com/assets/img/home-quote-avatar.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


// Blog

.blog {
    margin-bottom: 90px !important;
}

.blogContainer {
    display: grid;
    grid-template-columns: repeat(3, 32%);
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
}