.sectionMore {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.sectionMore a {
    text-decoration-line: underline;
    color: rgb(85, 85, 85);
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 90px;
}

.headerText {
    margin-top: 180px;
    display: grid;
    justify-items: center;
    row-gap: 10px;
    text-align: center;
}

.headerText h1 {
    font-size: 60px;
    color: #00C585;
}

.headerText p {
    max-width: 500px;
    font-size: 21px;
    color: #00C585;
}

.headerSearchContent {
    position: relative;
    margin-top: 120px;
    width: 100%;
}

.tripSearch {
    width: 95%;
    margin: 0 auto;
    padding: 10px 25px;
    border: 1px solid rgb(229, 234, 223);
    box-shadow: rgb(0 0 0 / 8%) 0px 2px 4px 0px;
    border-radius: 50px;
    background: rgb(243, 242, 239);
    display: grid;
    grid-template-columns: 37% 30% 24% auto;
    justify-content: space-between;
    align-items: end;
    column-gap: 15px;
    position: absolute;
    top: -50px;
    left: 2.5%;
    z-index: 9;
}

.tripSearchTitle {
    margin-bottom: 10px;
}

.searchElementContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 10px;
    border-radius: 50px;
    border: 1px solid rgb(229, 234, 223);
    padding-left: 10px;
    padding-right: 15px;
    background: rgb(255, 255, 255);
    position: relative;

    .elementLeft {
        display: flex;
        align-items: center;
    }

    .arrowDown {
        width: 15px;
    }

    .guestsInput {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .searchInput {
        width: 100%;
        display: flex;
        align-items: center;
    }

    .searchInput:focus {
        display: block;
    }

    .searchResults {
        position: absolute;
        background: #fff;
        border-radius: 10px;
        box-shadow: rgb(0 0 0 / 16%) 0px 2px 4px 0px;
        padding: 15px;
        left: 0;
        right: 0;
        top: 60px;
    }
}

.elementIcon {
    width: 17px;
    height: 17px;

    & img {
        width: 100%;
    }
}

.tripElement {
    flex-grow: 1;
    font-size: 17px;
    font-weight: 400;
    border: none;
    outline: none;
    padding: 10px 15px;
    background: rgb(255, 255, 255);
    border-radius: 50px;
}

.searchResults {
    display: none;
    row-gap: 5px;

    .searchRecommendation {
        padding: 15px 5px;
        display: flex;
        align-items: center;
        column-gap: 15px;
        transition: 0.3s;
        border-radius: 10px;
        cursor: pointer;

        .searchIcon {
            width: 40px;
            height: 40px;
            background-color: rgb(236, 236, 236);
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                filter: invert(81%) sepia(0%) saturate(274%) hue-rotate(204deg) brightness(97%) contrast(74%);
            }

            p {
                font-size: 17px;
            }
        }
    }

    .searchRecommendation:hover {
        background-color: rgb(233, 233, 233);
    }
}

.popUpInput {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    top: 60px;
    display: none;
}

.popUpClose {
    width: 100%;
    background: white;
    padding: 8px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    .closeBtn {
        border-radius: 5px;
        ;
        cursor: pointer;
        width: 22px;
        height: 22px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .closeBtn:hover {
        background: rgb(229, 234, 223);
    }
}

.popUpClose img {
    width: 20px;
}

.openElement {
    display: block !important;
}

.guestsContainer {
    width: 320px;
    position: absolute;
    left: 0;
    right: 0;
    top: 60px;
    background: white;
    border-radius: 10px;
    box-shadow: rgb(0 0 0 / 16%) 0px 2px 4px 0px;
    color: rgb(40, 64, 12);
    display: none;

    .guestsItem {
        display: flex;
        justify-content: space-between;
        padding: 20px 15px;
        cursor: context-menu
    }

    .guestsItem:nth-child(2) {
        border-top: 1px solid rgb(229, 234, 223);
        border-bottom: 1px solid rgb(229, 234, 223);
    }

    .guestsLeft {
        display: grid;
        align-items: center;
    }

    .guestsLeft p:nth-child(2) {
        margin-top: 5px;
    }

    .guestsRight {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
        align-items: center;
        column-gap: 10px;
        font-size: 18px;
        text-align: center;
    }

    .countBtn {
        border: 2px solid rgb(40, 64, 12);
        border-radius: 50%;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 600;
        color: rgb(40, 64, 12);
        cursor: pointer;
        transition: 0.3s;
    }

    .countBtn:hover {
        background-color: rgb(228, 228, 228);
        ;
    }
}

.searchBtn {
    background: var(--primary);
    border-radius: 50%;
    border: 3px solid transparent;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
        background-color: white;
        border: 3px solid var(--primary);
    }

    &:hover img {
        filter: invert(0%) sepia(89%) saturate(7500%) hue-rotate(198deg) brightness(87%) contrast(111%);
    }

    img {
        width: 20px;
        filter: invert(100%) sepia(0%) saturate(11%) hue-rotate(221deg) brightness(105%) contrast(101%);
        transition: 0.3s;
    }
}

.searchBtn2 {
    background: var(--primary);
    border-radius: 50%;
    border: 3px solid transparent;
    padding: 6px 5px;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
        background-color: white;
        border: 3px solid var(--primary);
    }
}

.headerHero {
    width: 100%;
    height: 480px;
    // background-image: url('../../assets/images/header-hero.jpg');
    // background-size: cover;
    // background-position: bottom;
    // background-repeat: no-repeat;
    border: 1px solid gray;
    border-radius: 20px;
    position: relative;
    // top: -60px;
    z-index: 1;
    overflow: hidden;
}

.heroSlider0 {
    background: url('./../../assets/images/header-hero3.jpg');
}

.heroSlider1 {
    background: url('./../../assets/images/header-hero1.jpg');
}

.heroSlider2 {
    background: url('./../../assets/images/header-hero2.jpg');
}

.heroSlider3 {
    background: url('./../../assets/images/header-hero.jpg');
}

.headerContent {
    width: 100%;
}

.heroSlider {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* Why Us */

.whyUs {
    margin-bottom: 120px !important;
}

.whyUs h1 {
    margin-bottom: 30px;
}

.whyUsContent {
    display: flex;
    justify-content: space-between;
    column-gap: 45px;
    row-gap: 25px;
}

.whyUsItem {
    transition: 0.3s;
    padding: 15px;
    border-radius: 10px;
}

.whyUsItem0:hover {
    & {
        transform: scale(1.05);
        box-shadow: 0px 4px 19px 0px rgba(196, 196, 196, 0.75);
        -webkit-box-shadow: 0px 4px 19px 0px rgba(196, 196, 196, 0.75);
        -moz-box-shadow: 0px 4px 19px 0px rgba(196, 196, 196, 0.75);
        background: rgb(242, 242, 242);
    }

    & .whyUsImg::before {
        background: rgb(219, 219, 219);
        border-radius: 65% 35% 55% 45% / 53% 57% 43% 47%;
    }

    .blobBg {
        border-radius: 63% 37% 59% 41% / 60% 42% 58% 40%;
    }
}

.whyUsItem1:hover {
    & {
        transform: scale(1.05);
        box-shadow: 0px 4px 19px 0px rgba(196, 196, 196, 0.75);
        -webkit-box-shadow: 0px 4px 19px 0px rgba(196, 196, 196, 0.75);
        -moz-box-shadow: 0px 4px 19px 0px rgba(196, 196, 196, 0.75);
        background: rgb(242, 242, 242);
    }

    & .whyUsImg::before {
        background: rgb(219, 219, 219);
        border-radius: 63% 37% 50% 50% / 31% 61% 39% 69%;
    }

    .blobBg {
        border-radius: 30% 70% 39% 61% / 46% 34% 66% 54%;
    }
}

.whyUsItem2:hover {
    & {
        transform: scale(1.05);
        box-shadow: 0px 4px 19px 0px rgba(196, 196, 196, 0.75);
        -webkit-box-shadow: 0px 4px 19px 0px rgba(196, 196, 196, 0.75);
        -moz-box-shadow: 0px 4px 19px 0px rgba(196, 196, 196, 0.75);
        background: rgb(242, 242, 242);
    }

    & .whyUsImg::before {
        background: rgb(219, 219, 219);
        border-radius: 36% 64% 72% 28% / 45% 61% 39% 55%;
    }

    .blobBg {
        border-radius: 39% 61% 45% 55% / 57% 41% 59% 43%;
    }
}

.whyUsImg0 {
    background: url('./../../assets/images/blob0.jpg');
    border-radius: 30% 70% 34% 66% / 43% 39% 61% 57%;
}

.whyUsImg1 {
    background: url('./../../assets/images/blob1.jpg');
    border-radius: 65% 35% 35% 65% / 66% 66% 34% 34%;
}

.whyUsImg2 {
    background: url('./../../assets/images/blob2.jpg');
    border-radius: 72% 28% 45% 55% / 40% 71% 29% 60%;
}

.blobBg {
    position: relative;
    width: 80%;
    aspect-ratio: 1 / 1;
    // height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 25px;
    transition: 0.3s ease-in-out;
    z-index: 1;
}

.whyUsImg {
    display: flex;
    justify-content: center;
    position: relative;
}

.whyUsImg::before {
    content: '';
    position: absolute;
    width: 90%;
    aspect-ratio: 1 / 1;
    // height: 300px;
    background-color: rgb(234, 234, 234);
    border-radius: 57% 43% 59% 41% / 67% 43% 57% 33%;
    bottom: 0;
    top: 0;
    transition: 0.3s;
}

.whyUsContent h3 {
    font-size: 19px;
    margin-bottom: 10px;
}

.whyUs-content p {
    font-size: 16px;
    text-align: justify;
}

/* Tours */
.tours {
    margin-bottom: 180px !important;
}

.toursContent {
    display: grid;
    grid-template-columns: repeat(3, 31.5%);
    justify-content: space-between;
    column-gap: 30px;
    row-gap: 35px;
}


/* Contact Us */

.contactUs {
    position: relative;
    margin-bottom: 180px;
    background: url('./../../assets/images/blogbg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

// .conractUs::before {
//     content: '';
//     position: absolute;
//     left: 0;
//     right: 0;
//     top: 0;
//     bottom: 0;
//     background: url('./../../assets/images/blogbg.svg');
//     background-repeat: no-repeat;
//     background-size: cover;
//     background-position: center;
//     width: 100%;
//     height: 700px;
// }

.contactContainer {
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 90px 0;
    // background-image: url('../../assets/images/dumb-bg2.svg');
    // background-attachment: fixed;
    // background-position: center;
    // background-size: cover;
    // background-repeat: no-repeat;
}

.contactContent {
    display: grid;
    grid-template-columns: 60% 30%;
    justify-content: space-between;
    align-items: center;
    column-gap: 30px;
}

.contactText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contactText h1 {
    font-size: 32px;
    margin-bottom: 10px;
}

.contactText p {
    font-size: 20px;
    margin-bottom: 35px;
}

.contactBrand {
    width: 210px;
}

.contactBrand img {
    width: 100%;
    transform: scale(1);
    transition: 0.3s;
}

.contactBrand img:hover {
    transform: scale(1.1);
}

// Products
.products {
    margin-bottom: 180px !important;
}

.productsContainer {
    display: grid;
    grid-template-columns: repeat(6, 16%);
    grid-template-rows: auto auto;
    justify-content: space-between;
    align-items: center;
    column-gap: 15px;
    row-gap: 20px;
}

// Quote

.quote {
    width: 100%;
    height: 400px;
    background: #00c569;
    display: grid;
    justify-content: center;
    align-items: center;
    margin-bottom: 180px !important;
}

.quoteContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 40px;
}

.quoteText {
    font-size: 40px;
    font-weight: 600;
    text-align: center;
}

.quoteAuthor {
    display: flex;
    align-items: center;
    column-gap: 15px;
    font-weight: 600;
}

.quoteAuthorImg {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: url('https://www.campspot.com/assets/img/home-quote-avatar.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


// Blog




.blog {
    margin-bottom: 90px !important;
    display: grid;
    justify-content: center;
    align-items: center;
}

.blogContainer {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 32%);
    grid-template-rows: 500px;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
}


.fancyBlogComponent {
    border-radius: 15px;
    overflow: hidden;
    display: grid;
    grid-template-columns: 2.5fr 1fr 1fr;
    grid-template-rows: 217.5px 217.5px;
    gap: 15px;
    // margin-bottom: 90px;

    .fbgElement {
        cursor: pointer;
        position: relative;
        overflow: hidden;
        max-height: 450px;

        .watchVideo {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 70px;
            height: 70px;
            border-radius: 50%;
            background: white;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.5s;
            z-index: 3;

            img {
                width: 70px;
                position: relative;
                transition: 0.3s ease-in-out;
                left: 0px;
            }

            .clickedWatch {
                position: relative;
                left: 50px;
            }
        }


        .fbgImg {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.3s;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                user-select: none;
                display: block;
            }
        }

        .fbgInfo {
            width: 100%;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            color: white;


            .fbgText {
                padding: 0 25px 25px 25px;
                position: absolute;
                bottom: -40px;
                transition: 0.3s;
                display: flex;
                flex-direction: column;

                h2 {
                    font-size: 18px;
                    margin-bottom: 15px;
                }

                p {
                    visibility: hidden;
                    opacity: 0;
                    margin-bottom: 10px;
                    transition: 0.3s;
                }

                .watchBtn {
                    margin-top: 10px;
                    width: 155px;
                    border: 2px solid white;
                    border-radius: 50px;
                    color: white;
                    font-size: 18px;
                    font-weight: 600;
                    padding: 10px 15px;
                    transition: 0.3s;
                    display: none;

                    &:hover {
                        background: white;
                        color: black;

                    }
                }
            }
        }
    }

    .fbgElement:hover {
        .watchVideo {
            width: 80px;
            height: 80px;

            img {
                width: 80px;
            }
        }
    }

    .fbgMain {
        height: 110%;
        grid-column: 1 / 2;
        grid-row: 1 / 3;

        .fbgInfo {
            .fbgText {
                bottom: -80px;
            }
        }

        h2 {
            font-size: 28px !important;
        }
    }

    .fbgElement:hover {
        .fbgImg {
            width: 110%;

            img {
                width: 110%;
            }
        }

        .fbgInfo {

            .fbgText {
                bottom: 0;

                p {
                    visibility: visible;
                    opacity: 1;
                }
            }
        }
    }

}

.tripSearchTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;

    .searchCloseBtn {
        width: 35px;
        height: 35px;

        img {
            width: 100%;
        }
    }
}

.tripSearchNone {
    display: none;
}

.datePick {
    width: 100%;
}



// Responsive Design Codes


@media screen and (max-width: 960px) {
    .headerHero {
        height: 340px;
    }

    .tripSearch {
        width: 95%;
        margin: 0 auto;
        padding: 14px 25px;
        border: 1px solid rgb(229, 234, 223);
        box-shadow: rgb(0 0 0 / 8%) 0px 2px 4px 0px;
        border-radius: 50px;
        background: rgb(243, 242, 239);
        display: grid;
        grid-template-columns: 45% 45%;
        justify-content: space-between;
        align-items: end;
        column-gap: 15px;
        row-gap: 20px;
        position: absolute;
        top: -50px;
        left: 2.5%;
        z-index: 9;
    }

    .whereTo:nth-child(1) {
        grid-column: 1 / 3;
    }

    .searchBtn {
        display: none;
    }

    .searchBtn2 {
        display: flex;
        grid-column: 1 / 3;
        width: 100%;
        border-radius: 50px;
        color: white;
        font-weight: 600;
        font-size: 18px;
    }

    .searchBtn2:hover {
        color: black;
    }

    .headerText {
        margin-left: auto;
        margin-right: auto;
        max-width: 60%;
    }

    .mobileWhereTo {
        display: block;

        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: white;
        z-index: 19;
        padding: 25px;
    }

    .mobilePickDate {
        display: block;

        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: white;
        z-index: 19;
        padding: 25px;
    }

    .mobileGuests {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: white;
        z-index: 19;
        padding: 25px;


        .guestsContainer {
            width: 100% !important;
        }
    }



    // Why Us

    .whyUsContent {
        display: grid;
        grid-template-columns: repeat(2, auto);
        column-gap: 90px;
        row-gap: 45px;
    }

    .whyUsItem p {
        line-height: 22.5px;
    }

    .whyUsItem1 {
        flex-grow: 1;
    }

    .whyUsItem2 {
        grid-column: 1 / 3;
        display: flex;

        .whyUsImg {
            width: 100%;
        }
    }

    .blobBg {
        width: 70%;
    }

    .whyUsImg {
        margin-bottom: 20px;
    }

    .whyUsImg:nth-child(1) {
        margin-bottom: 0;
    }

    .whyUsImg::before {
        width: 75%;
    }


    // Tours Section

    .toursContent {
        grid-template-columns: repeat(2, 47.5%);
    }

    // Blog Section

    .fancyBlogComponent {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto;

        .fbgElement {
            .fbgInfo {
                .fbgText {
                    h2 {
                        font-size: 20px;
                    }
                }
            }
        }

        .fbgMain {
            grid-column: 1 / 3;
            grid-row: 1 / 2;
            max-height: auto;
            height: auto;

            .watchVideo {
                display: none;
            }

            .fbgInfo {
                .fbgText {
                    bottom: 0;

                    p {
                        visibility: visible;
                        opacity: 1;
                    }

                    .watchBtn {
                        display: block;
                    }
                }

            }
        }

        .fbgElement:hover {
            .fbgImg {
                width: 100%;

                img {
                    width: 100%;
                }
            }

            .fbgInfo {
                .fbgText {
                    bottom: 0;

                    p {
                        visibility: visible;
                        opacity: 1;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 656px) {
    .sectionMore {
        flex-direction: column;
        row-gap: 10px;
        align-items: flex-start;
    }

    // Why Us

    .whyUs {
        margin-bottom: 90px !important;
    }

    .whyUsContent {
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
        justify-items: center;
    }

    .whyUsItem {
        width: 85%;
    }

    .whyUsItem2 {
        grid-column: auto;
        display: block;
    }

    .whyUsImg {
        margin-bottom: 20px;
    }


    // Tours Section

    .tours {
        margin-bottom: 90px !important;
    }

    .toursContent {
        grid-template-columns: repeat(1, 100%);
    }

    // Contact Us Section

    .contactUs {
        height: 450px;
    }

    .contactContent {
        display: grid;
        grid-template-columns: 100%;
        justify-items: center;
    }

    .contactText {
        width: 90%;

        h1 {
            font-size: 26px;
        }

        p {
            font-size: 16px;
        }
    }

    .contactBrand {
        display: none;
    }
}


@media screen and (max-width: 556px) {
    .headerSearchContent {
        margin-top: 220px;
    }

    .tripSearch {
        width: 100%;
        left: 0;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, auto);
        top: -170px;
        border-radius: 20px;
    }

    .whereTo:nth-child(2) {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    .whereTo:nth-child(3) {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }

    .searchBtn2 {
        grid-column: 1 / 2;
        grid-row: 4 / 5;
    }

    .headerText {
        max-width: 80%;
        margin-top: 140px;

        h1 {
            font-size: 48px;
        }

        p {
            font-size: 20px;
        }
    }

    // Blog Section

    .fancyBlogComponent {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto auto;

        .fbgMain {
            grid-column: 1 / 2;
            grid-row: 1 / 2;
        }
    }
}