.detail {
    padding-top: 120px !important;
    // padding-bottom: 90px !important;
}

.detail2Column {
    display: grid;
    grid-template-columns: 63% 32%;
    column-gap: 40px;
    justify-content: space-between;
}

.detailContainer {
    border-left: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb;
    border-radius: 5px;
    margin-bottom: 30px;

    .tourImg {
        width: 100%;
        height: 200px;
        // background: url('./../../assets/images/detail-bg-temp.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }

    .tourSneakPeakInfo {
        margin-bottom: 10px;
        font-family: Arial, sans-serif;
    }

    .tourIntro {
        padding: 10px 20px 20px 20px;
        border-bottom: 1px solid #ebebeb;

        .tourTitle {
            color: rgb(70, 70, 70);
            font-size: 30px;
            margin-bottom: 6px;
        }

        .tourShortDescription {
            font-size: 16px;
            color: rgb(88, 88, 88);
            margin-bottom: 15px;
        }

        .visitedBy {
            display: flex;
            align-items: center;
            font-size: 15px;
            gap: 10px;

            img {
                display: block;
                filter: invert(83%) sepia(55%) saturate(510%) hue-rotate(94deg) brightness(87%) contrast(94%);
            }

            span {
                color: #3cbf9a;
                font-weight: 600;
            }
        }
    }

    .tourAbout {
        padding: 10px 20px 20px 20px;
        border-bottom: 1px solid #ebebeb;
        font-size: 15px;

        h3 {
            font-size: 15px;
            margin-bottom: 7px;
        }

        p {
            font-size: 15px;
            line-height: 23.7px;
        }
    }

    .tourActivities {
        padding: 10px 20px 20px 20px;
        border-bottom: 1px solid #ebebeb;

        h3 {
            font-size: 15px;
            margin-bottom: 15px;
        }

        .activitiesContainer {
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            gap: 15px;

            .tourActivity {
                padding: 15px 5px;
                border: 1px solid #ebebeb;
                border-radius: 2px;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 10px;

                p {
                    text-align: center;
                    font-weight: 600;
                }

                .actImg {
                    width: 50px;
                    height: 50px;
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                }
            }
        }
    }

    .tourInternetInfos {
        padding: 10px 20px 20px 20px;
        border-bottom: 1px solid #ebebeb;

        h3 {
            font-size: 15px;
            margin-bottom: 15px;
        }

        .internetContainer {
            .internetInfo {
                display: flex;
                align-items: center;
                gap: 20px;

                .internetImg {
                    width: 40px;
                    height: 40px;
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                }

                .intDetail {
                    .intName {
                        font-size: 17px;
                        font-weight: 600;
                        margin-bottom: 5px;
                    }

                    p {
                        font-size: 15px;
                    }

                    .usable {
                        color: #3cbf9a;
                        font-weight: 600;
                    }

                    .unusable {
                        color: rgb(186, 186, 186);
                    }
                }
            }
        }
    }

    .add {
        .addBottom {
            display: flex;
            align-items: center;
            column-gap: 20px;
        }
        padding: 20px;

        .price {
            font-weight: 600;
            font-size: 18px;
        }

        .addBtn {
            background: #14d033;
            color: white;
            font-weight: 600;
            border-radius: 8px;
            padding: 10px 15px;
            font-size: 18px;
            cursor: pointer;
        }

        .removeBtn {
            background: #d2390a;
            color: white;
            font-weight: 600;
            border-radius: 8px;
            padding: 10px 15px;
            font-size: 18px;
            cursor: pointer;
        }
    }
}

.tourRecommendations {
    .recTitle {
        font-size: 18px;
        margin-bottom: 5px;
    }

    .tourContent {
        display: grid;
    }
}


@media screen and (max-width: 960px) {
    .detail2Column {
        grid-template-columns: 100%;


        .detailContainer {
            // grid-column: 1 / 3;
        }

        .tourContent {
            display: grid;
            grid-template-columns: 48% 48%;
            column-gap: 20px;
            justify-content: space-between;
        }
    }
}


@media screen and (max-width: 656px) {
    .detail2Column {
        .tourContent {
            grid-template-columns: 100%;
        }
    }
}
