.card {
    cursor: pointer;
    transition: 0.3s;
    padding: 0 2px 10px 2px;
    border-radius: 5px;
    height: 100%;
    display: grid;
    height: 350px
}

.cardImg {
    width: 100%;
    border-radius: 5px;
    border: 1px solid rgb(224, 224, 224);
    margin-bottom: 10px;
    transition: 0.4s;
    overflow: hidden;
    padding: 4px;
    padding-top: 10px;
}

.cardImg img {
    width: 100%;
    display: block;
    transition: 0.5s;
}

.cardInfo {
    padding: 0 8px 0 8px;
    display: grid;
}

.cardTitle {
    font-size: 14px;
    padding-left: 2px;
    margin-bottom: 4px;
}

.cardRating {
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin-bottom: 25px;
}

.star span{
    font-size: 18px;
    color: rgb(248, 192, 9);
}

.cardRatingCount {
    font-size: 12px;
    font-weight: 200;
    color: rgb(112, 112, 112);
}

.cardPrice {
    font-size: 20px;
    font-weight: 600;
    color: #2e2e2e;
}

.cardAddBtn {
    width: 100%;
    padding: 14px 0 12px 0;
    background: rgb(0, 199, 0);
    font-size: 15px;
    font-weight: 600;
    border-radius: 5px;
    outline: none;
    border: none;
    color: white;
    cursor: pointer;
    display: none;
    align-self: end;
}

.card:hover {
    box-shadow: 0px 0px 10px rgb(219, 219, 219);
}

.card:hover .cardTitle {
    display: none;
}

.card:hover .cardRating {
    display: none;
}

.card:hover .cardAddBtn {
    display: block;
}

.card:hover .cardImg img{
    transform: scale(1.05);
}

.card:hover .cardImg {
    border-color: white;
    margin-bottom: 12px;
}
