/* Card Type 1 */

.cardType1 {
    position: relative;
    transition: 0.4s;
    border-radius: 15px;
    cursor: pointer;
}

.cardType1:hover {
    // .ct1Img {
        animation-duration: 0.3s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-name: bubbleEffect;

        .animated1 {
            z-index: 1;
            transform: rotate(0deg);
            opacity: 1;
        }


    // }


}

@keyframes bubbleEffect {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.04);
    }
    75% {
        transform: scale(1.02);
    }
    100% {
        transform: scale(1.03);
    }
}

.ct1Img {
    height: 300px;
    background: url('./../../assets/images/tourBg.jpg') no-repeat center;
    background-size: cover;
    border-radius: 15px;
    display: grid;
    align-content: space-between;
    color: white;
    padding: 8px;
    margin-bottom: 10px;
    transition: 0.3s;
}

.animated1 {
    position: absolute;
    right: 10px;
    top: 0;
    width: 30px;    
    z-index: -1;
    opacity: 0;
    transform-origin: center;
    transform: rotate(-90deg);
    transition: 0.4s;
}

@keyframes showicon1 {
    0% {
        transform: rotate(-90deg);
    }

    50% {
        z-index: 1;
    }

    100% { 
        transform: rotate()
    }
}

.ct1ImgTop {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.ct1ImgBottom {
    display: flex;
    justify-content: end;
}

.ct1Info {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    row-gap: 5px;
    color: #2e2c2c;
    padding: 10px 5px;
}

.ct1ImgVerified {
    padding: 4px 8px;
    color: #6c6c6c;
    font-weight: 600;
    background-color: white;
    border-radius: 20px;
    font-size: 12px;
}

.ct1ImgLiked {
    padding: 8px 9px;
    border: 1px solid transparent;
    border-radius: 50%;
    cursor: pointer;
}

.ct1ImgLiked svg {
    width: 30px;
    height: 30px;
    fill: white;
}

.ct1ImgLiked:hover {
    border: 1px solid white;
}

.ct1ImgPrice {
    padding: 6px 14px;
    font-size: 16px;
    background: #4f4c4c;
    font-weight: 600;
    border-radius: 30px;
}

.ct1InfoName {
    font-size: 17px;
    font-weight: 600;
    color: #2e2c2c;
}

.ct1InfoLocation {
    font-size: 13px;
    font-weight: 400;
}

.ct1In  foRating {
    display: flex;
    align-items: center;
    font-weight: 600;
    column-gap: 5px;
}