.events {
    padding-top: 120px !important;
    // padding-bottom: 90px !important;
}


// Filter section

.eventMainFilter {
    margin-bottom: 60px !important;
}

.tripSearch {
    width: 100%;
    margin: 0 auto;
    padding: 10px 5px;
    // border: 1px solid rgb(229, 234, 223);
    // box-shadow: rgb(0 0 0 / 8%) 0px 2px 4px 0px;
    // border-radius: 10px;
    // background: rgb(243, 242, 239);
    display: grid;
    grid-template-columns: 37% 31% 25% auto;
    justify-content: space-between;
    align-items: end;
    column-gap: 15px;
    z-index: 9;
}

.tripSearchTitle {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 600;
}

.fillMsg {
    color: rgb(233, 42, 42);
    font-size: 15px;
    padding-left: 5px;
}

.searchElementContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 10px;
    border-radius: 10px;
    border: 1px solid rgb(192, 193, 191);
    padding-left: 10px;
    padding-right: 15px;
    background: rgb(255, 255, 255);
    position: relative;

    .elementLeft {
        display: flex;
        align-items: center;
    }

    .arrowDown {
        width: 15px;
    }

    .guestsInput {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .searchInput {
        width: 100%;
        display: flex;
        align-items: center;
    }

    .searchInput:focus {
        display: block;
    }

    .searchResults {
        max-height: 400px;
        overflow-y: auto;
        position: absolute;
        background: #fff;
        border-radius: 10px;
        box-shadow: rgb(0 0 0 / 16%) 0px 2px 4px 0px;
        padding: 15px;
        left: 0;
        right: 0;
        top: 60px;
        z-index: 1;
    }

}

.elementIcon {
    width: 17px;
    height: 17px;

    & img {
        width: 100%;
    }
}

.tripElement {
    flex-grow: 1;
    font-size: 17px;
    font-weight: 400;
    border: none;
    outline: none;
    padding: 10px 15px;
    background: rgb(255, 255, 255);
    border-radius: 50px;
}

.searchResults {
    display: none;
    row-gap: 5px;

    .searchRecommendation {
        padding: 15px 5px;
        display: flex;
        align-items: center;
        column-gap: 15px;
        transition: 0.3s;
        border-radius: 10px;
        cursor: pointer;

        .searchIcon {
            width: 40px;
            height: 40px;
            background-color: rgb(236, 236, 236);
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                filter: invert(81%) sepia(0%) saturate(274%) hue-rotate(204deg) brightness(97%) contrast(74%);
            }

            p {
                font-size: 17px;
            }
        }
    }

    .searchRecommendation:hover {
        background-color: rgb(233, 233, 233);
    }
}

.popUpInput {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    top: 60px;
    display: none;
}

.popUpClose {
    width: 100%;
    background: white;
    padding: 8px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    .closeBtn {
        border-radius: 5px;
        ;
        cursor: pointer;
        width: 22px;
        height: 22px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .closeBtn:hover {
        background: rgb(229, 234, 223);
    }
}

.popUpClose img {
    width: 20px;
}

.openElement {
    display: block !important;
    z-index: 1;
}

.guestsContainer {
    width: 320px;
    position: absolute;
    left: 0;
    right: 0;
    top: 60px;
    background: white;
    border-radius: 10px;
    box-shadow: rgb(0 0 0 / 16%) 0px 2px 4px 0px;
    color: rgb(40, 64, 12);
    display: none;

    .guestsItem {
        display: flex;
        justify-content: space-between;
        padding: 20px 15px;
        cursor: context-menu
    }

    .guestsItem:nth-child(2) {
        border-top: 1px solid rgb(229, 234, 223);
        border-bottom: 1px solid rgb(229, 234, 223);
    }

    .guestsLeft {
        display: grid;
        align-items: center;
    }

    .guestsLeft p:nth-child(2) {
        margin-top: 5px;
    }

    .guestsRight {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
        align-items: center;
        column-gap: 10px;
        font-size: 18px;
        text-align: center;
    }

    .countBtn {
        border: 2px solid rgb(40, 64, 12);
        border-radius: 50%;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 600;
        color: rgb(40, 64, 12);
        cursor: pointer;
        transition: 0.3s;
    }

    .countBtn:hover {
        background-color: rgb(228, 228, 228);
        ;
    }
}

.searchBtn {
    background: var(--primary);
    border-radius: 10px;
    border: 3px solid transparent;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
        background-color: white;
        border: 3px solid var(--primary);
    }

    &:hover img {
        filter: invert(0%) sepia(89%) saturate(7500%) hue-rotate(198deg) brightness(87%) contrast(111%);
    }

    img {
        width: 20px;
        filter: invert(100%) sepia(0%) saturate(11%) hue-rotate(221deg) brightness(105%) contrast(101%);
        transition: 0.3s;
    }
}

// Events Content

.eventsContent {
    border-top: 1px solid rgb(193, 193, 193);
    background: rgba(0, 0, 0, 0.071);
    padding: 70px 0 90px 0;
}


// Events Filter

.eventsContentWrapper {
    display: grid;
    grid-template-columns: 22% 76%;
    justify-content: space-between;
    column-gap: 20px;
}

.eventsFilter {

    .filterContent {
        padding: 10px 5px;

        .filterDivider {
            width: 100%;
            height: 1px;
            background-color: rgb(190, 190, 190);
            border-radius: 5px;
            margin: 25px 0;
        }

        .filterGeneralTitle {
            font-size: 20px;
            font-weight: 600;
            color: #484848;
            margin-bottom: 20px;
        }

        .filterElement {
            .filterTitle {
                font-size: 17px;
                color: #393939;
                margin-bottom: 15px;
            }

            .filterTypes {
                display: grid;
                row-gap: 5px;

                input {
                    display: none;
                }

                label {
                    // background: red;
                    font-size: 14px;
                    width: 100%;
                    cursor: pointer;
                    border-radius: 5px;
                    border: 1px solid transparent;
                    transition: 0.3s;
                    padding: 3px 8px;
                }

                input[type="radio"]:checked+label {
                    background: rgb(226, 226, 226);
                    border: 1px solid rgb(118, 118, 118);
                    font-weight: 600;
                }

                label:hover {
                    border: 1px solid rgb(118, 118, 118);
                }
            }

            .filterPriceRange {
                display: grid;
                grid-template-columns: 100%;

                .subTitle {
                    display: flex;
                    justify-content: space-between;
                    font-size: 14px;
                    margin-bottom: 20px;
                    color: rgb(101, 101, 101);

                    .minmaxText {
                        input {
                            width: 40px;
                            padding: 5px;
                        }

                        p {
                            margin-bottom: 4px;
                        }
                    }

                    .minmaxText:last-child {
                        p {
                            text-align: right;
                        }
                    }
                }

                .priceRange {
                    width: 94%;
                    justify-self: center;
                    color: rgb(206, 206, 206) !important;
                }

                .priceRangeInput {
                    cursor: pointer;
                }
            }

            .filterFeatures {
                display: grid;
                row-gap: 10px;

                .featureItem {
                    font-family: 'Roboto', sans-serif;
                    display: flex;
                    align-items: center;
                    gap: 5px;

                    label {
                        font-size: 16px;
                        position: relative;
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        cursor: pointer;


                        .custom {
                            width: 20px;
                            height: 20px;
                            background: white;
                            border: 1px solid gray;
                            border-radius: 3px;
                            position: relative;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            transition: 0.15s;
                            cursor: pointer;
                        }

                        .custom::after {
                            content: '';
                            left: 9px;
                            top: 5px;
                            width: 4px;
                            height: 7px;
                            border: solid white;
                            border-width: 0 3px 3px 0;
                            -webkit-transform: rotate(45deg);
                            -ms-transform: rotate(45deg);
                            transform: rotate(45deg);
                        }
                    }

                    input {
                        display: none;
                    }

                    input:checked+label .custom {
                        background: rgb(72, 212, 86);
                    }
                }

            }


            .showResultBtn {
                background: var(--primary);
                border-radius: 5px;
                border: none;
                outline: none;
                width: 100%;
                padding: 10px;
                color: white;
                font-size: 17px;
                transition: 0.3s;
                font-weight: 600;
                cursor: pointer;
                margin-bottom: 10px;
            }

            .showResultBtn:hover {
                background: rgb(9, 183, 102);

            }

            .cancelBtn {
                background: rgb(187, 187, 187);
                border-radius: 5px;
                border: none;
                outline: none;
                width: 100%;
                padding: 10px;
                color: white;
                font-size: 17px;
                transition: 0.3s;
                font-weight: 600;
                cursor: pointer;
            }

            .cancelBtn:hover {
                background: rgb(172, 172, 172);

            }

        }
    }
}


.eventsResult {

    .resultTop {
        margin-bottom: 30px;

        .found {
            color: gray;
            font-size: 14px;
            margin-bottom: 15px;
        }

        .resultExtraFilter {
            display: grid;
            grid-template-columns: 75% 25%;
            justify-content: space-between;
            align-items: center;

            .tags {
                display: flex;
                align-items: center;
                gap: 5px;
                overflow: hidden;
                position: relative;

                .tag {
                    border: 1px solid rgb(30, 231, 30);
                    border-radius: 50px;
                    padding: 5px 10px;
                    font-size: 16px;
                    display: flex;
                    align-items: center;
                    column-gap: 10px;
                    background: white;

                    p {
                        white-space: nowrap;
                    }

                    .close {
                        width: 15px;
                        height: 15px;

                        img {
                            width: 100%;
                            display: block;
                        }
                    }
                }
            }

            .tags::after {
                content: '';
                position: absolute;
                right: 0;
                top: 0;
                bottom: 0;
                height: 100%;
                width: 35px;
                background: linear-gradient(to left, #ededed, transparent);
            }

            .sorted {
                display: flex;
                align-items: center;
                column-gap: 5px;
                justify-self: end;

                select {
                    border-radius: 5px;
                    outline: none;
                    padding: 4px 2px;
                }
            }
        }
    }

    .resultContainer {
        display: grid;
        grid-template-columns: repeat(3, 32%);
        column-gap: 15px;
        row-gap: 20px;
        justify-content: space-between;
    }
}